<div class="cst-header-tabber-grp desk hidden-phone">
   <div class="cst-icn-btn-grp">

      <a href="javascript:;" class="cst-icon" >
         {% if module.icon_image.src %}
         {% set sizeAttrs = 'width="{{ module.icon_image.width }}" height="{{ module.icon_image.height }}"' %}
         {% if module.icon_image.size_type == 'auto' %}
         {% set sizeAttrs = 'width="{{ module.icon_image.width }}" height="{{ module.icon_image.height }}" style="max-width: 100%; height: auto;"' %}
         {% elif module.icon_image.size_type == 'auto_custom_max' %}
         {% set sizeAttrs = 'width="{{ module.icon_image.max_width }}" height="{{ module.icon_image.max_height }}" style="max-width: 100%; height: auto;"' %}
         {% endif %}
         {% set loadingAttr = module.icon_image.loading != 'disabled' ? 'loading="{{ module.icon_image.loading }}"' : '' %}
         <img src="{{ module.icon_image.src }}" alt="{{ module.icon_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
         {% endif %}</a>
      <div class="icon-txt-hld">
         <span class="tab-text"></span>
         <i class="fa fa-angle-down"></i>
      </div>

   </div>

   <div class="cst-tabber-bdy-grp ">
      <div class="page-center">
         <div class="cst-row">
            <div class="cst-tab-content">
               {% for item in module.add_tabber_item %}
               <div class="cst-tab-con" id="tab{{ loop.index }}" >
                  <div class="cst-con">
                     <div class="cst-top">
                        <h2>
                           {{ item.header }}
                        </h2>
                        <div class="con-tent-grp">
                           {{ item.content }}
                        </div>
                     </div>
                     <div class="cst-img-grp">
                        <div class="image-img" style="background-image:url({{ item.image.src }});"></div>                         
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            <div class="cst-tab-grp">
               {% for item in module.add_tabber_item %} 
               {% set href = item.link.url.href %}
               {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
               {% set href = "mailto:" + href %}
               {% endif %}
               <div class="cst-tab-item" >
                  <a href="#tab{{ loop.index }}" class="in" data-href="{{ href }}">
                     <div class="title">
                        {{ item.title }}
                     </div>
                     <div class="cst-tab-icon">
                        {% if item.icon.src %}
                        {% set sizeAttrs = 'width="{{ item.icon.width }}" height="{{ item.icon.height }}"' %}
                        {% if item.icon.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ item.icon.width }}" height="{{ item.icon.height }}" style="max-width: 100%; height: auto;"' %}
                        {% elif item.icon.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ item.icon.max_width }}" height="{{ item.icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = item.icon.loading != 'disabled' ? 'loading="{{ item.icon.loading }}"' : '' %}
                        <img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                        {% endif %}
                     </div>
                  </a>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>

   </div>
</div>



{% require_js %}
<script>
   $('.cst-header-tabber-grp.desk .cst-icn-btn-grp').click(function(){
      $(this).next().fadeToggle(500);
      $(this).toggleClass('active-icon');
      $('body').toggleClass('active-icon');
   });
   $('.cst-tab-con').hide();
   $('.cst-tab-con:first').show();

   // Click function
   $('.cst-tab-item').mouseenter(function(){
      $('.cst-tab-item').removeClass('active');
      // $(this).addClass('active');
      $('.cst-tab-con').hide();

      var activeTab = $(this).find('a').attr('href');
      $(activeTab).fadeIn();
      return false;
   });
   $('.cst-tabber-bdy-grp .cst-row .cst-tab-grp .cst-tab-item ').each(function(){
      var txt = $(this).find('.title').text();
      var txtbdy = $(this).find('.title').text();
      txtbdy = txtbdy.replace(/[^a-z0-9\s]/gi, '');
      var txtimg = $(this).find('.cst-tab-icon img').attr('src');
      $(this).click(function(){
         $('.cst-header-tabber-grp .cst-icn-btn-grp .tab-text').text(txt);
         $('.cst-header-tabber-grp .cst-icn-btn-grp .cst-icon img').attr('src', txtimg );
         $('body').addClass('text-add');
         $('body').addClass(txtbdy);
         var clk1l = $(this).find('a').attr('data-href');
         setTimeout(function() {
            location.assign(clk1l);
         }, 1500);
         return false;
      });

   });

</script>
{% end_require_js %}

